@{
    ViewBag.Title = "Home Page ";
}

<div class="jumbotron">
    <h1>Orcid oauth 2 demo</h1>
    <p class="lead"></p>
    @Html.ActionLink("Go to log in page", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="btn btn-info"})
</div>
<div class="row">
    <p>To run this demo it is assumed that you have created an orcid sandbox account using the instructions provided at <a href="https://github.com/alainna/vala2016">ORCID Boot Camp</a>.</p>
    <p>From the log in page press "Orcid" log in button which should take you to the orcid sandbox authorisation page. </p>
    <p>Enter your username and password and press authorise.</p>
    <p>You should be redirected back to the "Access" page on this web site with an authorisation token. (You should store this code in database in a production enviroment).</p>
    <p>Click "Fetch" and you should be able to view the orcid data stored in your orcid account in an xml format.</p>
</div>